[Unit]
Description=BlinkStickMQTT
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
User=matt
Group=matt
WorkingDirectory=/home/matt/blinkstickmqtt
ExecStart=/usr/local/bin/pipenv run python -u server.py

[Install]
WantedBy=multi-user.target
